# 1. Import data (REPORTS)

In [1]:
import requests
import time
import pandas as pd
import numpy as np
import datetime
#import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# API header
url = 'd5dg1j9kt695d30blp03.apigw.yandexcloud.net'
task_id = ''
key = '5f55e6c0-e9e5-4a9c-b313-63c01fc31460'
nickname = 'smartflip'
cohort = '3'

In [3]:
# API, get task id
generate_report_response = requests.post(
    f"https://{url}/generate_report",                                      # enter point
    headers={
        "X-API-KEY": key,                                                  # API key
        "X-Nickname": nickname,                                            # details
        "X-Cohort": cohort                                                 # details
    }
).json()
time.sleep(10)
task_id = generate_report_response["task_id"]
print(task_id)

MjAyMi0wNy0xNFQwNzo1NjowNwlzbWFydGZsaXA=

In [8]:
# generate the report
for i in range(6):
    print(f'-----response number {i}-----')
    get_report_response = requests.get(
        f"https://{url}/get_report?task_id={task_id}", 
        headers={
        "X-API-KEY": key,
        "X-Nickname": nickname,
        "X-Cohort": cohort
        }
    ).json()
    time.sleep(10)
    print(get_report_response)

-----response number 0-----
{'message': "request to function 'd4eshhesk27d9tafkt6b' failed, reason: got http error: url = https://functions.yandexcloud.net/d4eshhesk27d9tafkt6b?integration=raw, method = POST, status = 504"}
-----response number 1-----
{'message': "request to function 'd4eshhesk27d9tafkt6b' failed, reason: got http error: url = https://functions.yandexcloud.net/d4eshhesk27d9tafkt6b?integration=raw, method = POST, status = 504"}
-----response number 2-----
{'message': "request to function 'd4eshhesk27d9tafkt6b' failed, reason: got http error: url = https://functions.yandexcloud.net/d4eshhesk27d9tafkt6b?integration=raw, method = POST, status = 504"}
-----response number 3-----
{'task_id': 'MjAyMi0wNy0xNFQwNzo1NjowNwlzbWFydGZsaXA=', 'status': 'SUCCESS', 'data': {'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==', 'start_day': '2022-06-14 00:00:00', 'end_date': '2022-07-06 00:00:00', 's3_path': {'customer_research': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/customer_research.csv', 'user_orders_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/user_orders_log.csv', 'user_activity_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/user_activity_log.csv', 'price_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/price_log.csv'}}}
-----response number 4-----
{'task_id': 'MjAyMi0wNy0xNFQwNzo1NjowNwlzbWFydGZsaXA=', 'status': 'SUCCESS', 'data': {'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==', 'start_day': '2022-06-14 00:00:00', 'end_date': '2022-07-06 00:00:00', 's3_path': {'customer_research': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/customer_research.csv', 'user_orders_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/user_orders_log.csv', 'user_activity_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/user_activity_log.csv', 'price_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/price_log.csv'}}}
-----response number 5-----
{'task_id': 'MjAyMi0wNy0xNFQwNzo1NjowNwlzbWFydGZsaXA=', 'status': 'SUCCESS', 'data': {'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==', 'start_day': '2022-06-14 00:00:00', 'end_date': '2022-07-06 00:00:00', 's3_path': {'customer_research': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/customer_research.csv', 'user_orders_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/user_orders_log.csv', 'user_activity_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/user_activity_log.csv', 'price_log': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ==/price_log.csv'}}}

In [9]:
# check status
get_report_response['status']

'SUCCESS'

In [10]:
# check status
report_id = get_report_response['data']['report_id']
report_id

'TWpBeU1pMHdOeTB4TkZRd056bzFOam93TndsemJXRnlkR1pzYVhBPQ=='

In [11]:
# valid report id from container
report_id = 'TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ=='

In [12]:
files_list = ['customer_research', 'user_orders_log', 'user_activity_log', 'price_log']
cloud_url = 'storage.yandexcloud.net'

# read the files
for file_name in files_list:
    globals()[f'df_{file_name}'] = pd.read_csv(f'https://{cloud_url}/s3-sprint3/cohort_{cohort}/{nickname}/project/{report_id}/{file_name}.csv')

# Read data

In [13]:
df_customer_research.head()

               date_id  category_id  geo_id  sales_qty  sales_amt
0  2022-06-14T00:00:00         1001       1          3       2883
1  2022-06-14T00:00:00         1001       2          9       8649
2  2022-06-14T00:00:00         1001       3          2       1922
3  2022-06-14T00:00:00         1002       1          1        961
4  2022-06-14T00:00:00         1002       2          5       4805

In [14]:
df_user_orders_log.head()

,id,date_time,city_id,city_name,customer_id,first_name,last_name,item_id,item_name,quantity,payment_amount
0,1,2022-06-14T00:00:00,2,Ярославль,3909,Олег,Новиков,5,Яблоко молодильное,4,1600
1,2,2022-06-14T00:00:00,2,Ярославль,9814,Надежда,Козлова,4,Сахар песок,2,100
2,3,2022-06-14T00:00:00,2,Ярославль,5907,Александр,Новиков,11,Хлеб ржаной,1,20
3,4,2022-06-14T00:00:00,0,Москва,8710,Снежанна,Павлова,1,Молоко 3%,1,120
4,5,2022-06-14T00:00:00,2,Ярославль,4611,Екатерина,Егорова,4,Сахар песок,4,200

In [15]:
df_user_activity_log.head()

   id            date_time  action_id  customer_id  quantity
0   1  2022-06-14T00:00:00          3          530        16
1   2  2022-06-14T00:00:00          0           80        21
2   3  2022-06-14T00:00:00          2          360        16
3   4  2022-06-15T00:00:00          2           41        10
4   5  2022-06-15T00:00:00          0          731        24

In [16]:
df_price_log = pd.read_csv(f'https://{cloud_url}/s3-sprint3/cohort_{cohort}/{nickname}/project/{report_id}/{file_name}.csv', header = None)
df_price_log.head()

                                              0    1
0                                     Молоко 1%  100
1                                     Молоко 3%  120
2                                     Молоко 5%  150
3  Устройство для нагревания табака Трубка Мира  500
4                                   Сахар песок   50

In [17]:
temp = pd.to_datetime(df_user_orders_log['date_time'], format='%Y-%m-%dT%H:%M:%S')
temp.describe()

/var/folders/2p/50l_9vnx5v9859z1x_qycj1r0000gn/T/ipykernel_1234/3804383571.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  temp.describe()

count                   23684
unique                     23
top       2022-07-01 00:00:00
freq                     1194
first     2022-06-14 00:00:00
last      2022-07-06 00:00:00
Name: date_time, dtype: object

In [18]:
temp = pd.to_datetime(df_user_activity_log['date_time'], format='%Y-%m-%dT%H:%M:%S')
temp.describe()

/var/folders/2p/50l_9vnx5v9859z1x_qycj1r0000gn/T/ipykernel_1234/3543211416.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  temp.describe()

count                     260
unique                     23
top       2022-06-18 00:00:00
freq                       19
first     2022-06-14 00:00:00
last      2022-07-06 00:00:00
Name: date_time, dtype: object

In [19]:
df_customer_research.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date_id      690 non-null    object
 1   category_id  690 non-null    int64
 2   geo_id       690 non-null    int64
 3   sales_qty    690 non-null    int64
 4   sales_amt    690 non-null    int64
dtypes: int64(4), object(1)
memory usage: 27.1+ KB

In [20]:
df_user_orders_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23684 entries, 0 to 23683
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              23684 non-null  int64
 1   date_time       23684 non-null  object
 2   city_id         23684 non-null  int64
 3   city_name       23684 non-null  object
 4   customer_id     23684 non-null  int64
 5   first_name      23684 non-null  object
 6   last_name       23684 non-null  object
 7   item_id         23684 non-null  int64
 8   item_name       23684 non-null  object
 9   quantity        23684 non-null  int64
 10  payment_amount  23684 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [21]:
df_user_activity_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           260 non-null    int64
 1   date_time    260 non-null    object
 2   action_id    260 non-null    int64
 3   customer_id  260 non-null    int64
 4   quantity     260 non-null    int64
dtypes: int64(4), object(1)
memory usage: 10.3+ KB

In [22]:
df_price_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       12 non-null     object
 1   1       12 non-null     int64
dtypes: int64(1), object(1)
memory usage: 320.0+ bytes

# 2. Import Data (increments)

In [24]:
max_date = max(df_user_orders_log['date_time'])
max_date = pd.to_datetime(max_date, format='%Y-%m-%dT%H:%M:%S')

In [25]:
#new_date = max_date + datetime.timedelta(days = 1)
#new_date_str = str(new_date.date())+'T'+str(new_date.time())
#new_date_str

In [26]:
# generate increment
counter = 0
inc_list_id = []

for i in range(20):
    print(f'-----response number {i}-----')
    counter += 1
    new_date = max_date + datetime.timedelta(days = counter)
    new_date_str = str(new_date.date())+'T'+str(new_date.time())
    get_report_response = requests.get(
        f"https://{url}/get_increment?report_id={report_id}&date={new_date_str}", 
        headers={
        "X-API-KEY": key,
        "X-Nickname": nickname,
        "X-Cohort": cohort,
        "X-Project": "True"
        }
    ).json()
    status = get_report_response['status']
    if status == 'SUCCESS':
        print(get_report_response)
        inc_list_id.append(get_report_response['data']['increment_id'])
        time.sleep(4)
    else:
        time.sleep(10)
        print('no increment found')
        break

-----response number 0-----
{'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==', 'date': '2022-07-07 00:00:00', 'status': 'SUCCESS', 'data': {'increment_id': 'MjAyMi0wNy0wN1QwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==', 's3_path': {'customer_research_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wN1QwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/customer_research_inc.csv', 'user_orders_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wN1QwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_orders_log_inc.csv', 'user_activity_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wN1QwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_activity_log_inc.csv', 'price_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==/price_log_inc.csv'}}}
-----response number 1-----
{'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==', 'date': '2022-07-08 00:00:00', 'status': 'SUCCESS', 'data': {'increment_id': 'MjAyMi0wNy0wOFQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==', 's3_path': {'customer_research_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wOFQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/customer_research_inc.csv', 'user_orders_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wOFQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_orders_log_inc.csv', 'user_activity_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wOFQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_activity_log_inc.csv', 'price_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==/price_log_inc.csv'}}}
-----response number 2-----
{'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==', 'date': '2022-07-09 00:00:00', 'status': 'SUCCESS', 'data': {'increment_id': 'MjAyMi0wNy0wOVQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==', 's3_path': {'customer_research_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wOVQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/customer_research_inc.csv', 'user_orders_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wOVQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_orders_log_inc.csv', 'user_activity_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0wOVQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_activity_log_inc.csv', 'price_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==/price_log_inc.csv'}}}
-----response number 3-----
{'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==', 'date': '2022-07-10 00:00:00', 'status': 'SUCCESS', 'data': {'increment_id': 'MjAyMi0wNy0xMFQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==', 's3_path': {'customer_research_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMFQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/customer_research_inc.csv', 'user_orders_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMFQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_orders_log_inc.csv', 'user_activity_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMFQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_activity_log_inc.csv', 'price_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==/price_log_inc.csv'}}}
-----response number 4-----
{'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==', 'date': '2022-07-11 00:00:00', 'status': 'SUCCESS', 'data': {'increment_id': 'MjAyMi0wNy0xMVQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==', 's3_path': {'customer_research_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMVQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/customer_research_inc.csv', 'user_orders_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMVQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_orders_log_inc.csv', 'user_activity_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMVQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_activity_log_inc.csv', 'price_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==/price_log_inc.csv'}}}
-----response number 5-----
{'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==', 'date': '2022-07-12 00:00:00', 'status': 'SUCCESS', 'data': {'increment_id': 'MjAyMi0wNy0xMlQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==', 's3_path': {'customer_research_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMlQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/customer_research_inc.csv', 'user_orders_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMlQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_orders_log_inc.csv', 'user_activity_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xMlQwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_activity_log_inc.csv', 'price_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==/price_log_inc.csv'}}}
-----response number 6-----
{'report_id': 'TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==', 'date': '2022-07-13 00:00:00', 'status': 'SUCCESS', 'data': {'increment_id': 'MjAyMi0wNy0xM1QwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==', 's3_path': {'customer_research_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xM1QwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/customer_research_inc.csv', 'user_orders_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xM1QwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_orders_log_inc.csv', 'user_activity_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/MjAyMi0wNy0xM1QwMDowMDowMAlUV3BCZVUxcE1IZE9lVEI0VGtaUmQwNTZiekJQUkc5M1RsRnNlbUpYUm5sa1IxcHpZVmhCUFE9PQ==/user_activity_log_inc.csv', 'price_log_inc': 'https://storage.yandexcloud.net/s3-sprint3/cohort_3/smartflip/project/TWpBeU1pMHdOeTB4TkZRd056bzBPRG93TlFsemJXRnlkR1pzYVhBPQ==/price_log_inc.csv'}}}
-----response number 7-----
no increment found

In [ ]:
inc_list_id

In [ ]:
inc_files_list = ['customer_research_inc', 'user_orders_log_inc', 'user_activity_log_inc']
cloud_url = 'storage.yandexcloud.net'
increment_id = inc_list_id[0]

# read the files
for file_name in inc_files_list:
    #print(f'https://{cloud_url}/s3-sprint3/cohort_{cohort}/{nickname}/project/{increment_id}/{file_name}.csv')
    globals()[f'df_{file_name}'] = pd.read_csv(f'https://{cloud_url}/s3-sprint3/cohort_{cohort}/{nickname}/project/{increment_id}/{file_name}.csv')

In [ ]:
df_customer_research_inc.info()

In [ ]:
df_user_orders_log_inc.info()

In [ ]:
df_user_activity_log_inc.info()

In [ ]:
df_user_orders_log_inc

# 3. Data Migration

In [ ]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
# DEFINE THE DATABASE CREDENTIALS
user = 'jovyan'
password = 'jovyan'
host = '127.0.0.1'
port = 15432
database = 'de'

# PYTHON FUNCTION TO CONNECT TO THE POSTGRESQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="postgresql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )


if __name__ == '__main__':

    try:
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

In [ ]:
engine

## customer research

In [ ]:
df_customer_research

In [ ]:
df_customer_research = df_customer_research.drop_duplicates()

In [ ]:
df_customer_research

In [ ]:
# upload
df_customer_research.to_sql(
    'customer_research', 
    con = engine, 
    schema='staging', 
    if_exists='replace', 
    index=True, 
    index_label='id'
)

## user_orders_log

In [ ]:
df_user_orders_log = df_user_orders_log.drop_duplicates()
df_user_orders_log

In [ ]:
df_user_orders_log = df_user_orders_log.drop(['id'], axis = 1)
df_user_orders_log.head()

In [ ]:
# upload
df_user_orders_log.to_sql(
    'user_orders_log', 
    con = engine, 
    schema='staging', 
    if_exists='replace', 
    index=True,
    index_label = 'id'
)

## user_activity_log

In [ ]:
df_user_activity_log = df_user_activity_log.drop_duplicates()
df_user_activity_log

In [ ]:
# upload
df_user_activity_log.to_sql(
    'user_activity_log', 
    con = engine, 
    schema='staging', 
    if_exists='replace'
)

## price log

In [ ]:
df_price_log

In [ ]:
df_price_log.columns = ["item_name", "price"]

In [ ]:
df_price_log

In [ ]:
df_price_log = df_price_log.drop_duplicates()

In [ ]:
# upload
df_price_log.to_sql(
    'price_log', 
    con = engine, 
    schema='staging', 
    if_exists='replace', 
    index=True,
    index_label = 'id'
)